@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: Roboto, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --primaryColor: #f5f5f5;
    --secondaryColor: #00c2ca;
    --terciaryColor: #e4e4e4;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f171d;
}

.form {
    background-color: var(--terciaryColor);
    width: 20rem;
    height: 20rem;
    margin: 10px 15px;
    border-radius: 12px;
    padding: 0;
    border-radius: 12px;
    border-style: solid;
    border-color: var(--secondaryColor);
    border-width: 2px;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.container__title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondaryColor);
}

.container__title__img{
    color: white;
    position: relative;
    top:2.5px;
}

.container__title__item {
    color: var(--primaryColor);
    font-weight: 800;
    text-transform: uppercase;
    margin: 10px 10px;
}

/* Checar como esconder o overflow */

.container__entrada {
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
}

.container__entrada__label {
    color: var(--secondaryColor);
    padding-bottom: 5px;
}

.container__entrada__input {
    height: 4rem;
    border-style: solid;
    border-color: var(--secondaryColor);
    border-radius: 5px;
    border-width: 1.5px;
    padding: 3px 5px;
    font-size: .6rem;
    color: rgb(22, 22, 22);
    outline: none;
    resize: none;
}

.container__entrada__input::placeholder {
    font-size: 0.7rem;
}

.container__saida {
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
}

.container__saida__label {
    color: var(--secondaryColor);
    padding-bottom: 5px;
}

.container__saida__input {
    height: 4rem;
    border-style: solid;
    border-color: var(--secondaryColor);
    border-radius: 5px;
    border-width: 1.5px;
    padding-left: 5px;
    color: rgb(22, 22, 22);
    background-color: white;
    outline: none;
}

.container__buttons {
    display: flex;
    justify-content: center;
}

.container__buttons__item {
    margin: 10px 25px 5px;
    padding: 5px 10px;
    border-style: solid;
    border-color: var(--secondaryColor);
    border-radius: 5px;
    border-width: 1.5px;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}

.container__buttons__item:hover {
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
}


@media (max-width: 320px) {
    .container__buttons__item {
        margin: 10px 15px 5px;
    }
}

@media (max-width: 290px) {
    .container__buttons__item {
        margin: 10px 5px 5px;
    }

    .container__title__img{
        display: none;
    }


}